{
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,
  "printWidth": 120,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "always",
  "bracketSameLine": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "importOrder": [
    "^@angular/(.*)$",
    "^rxjs|rxjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.{yaml,yml}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
